# ----------------------------------------
# NPM
# ----------------------------------------

node_modules/
npm-debug.log
*.swp

# ----------------------------------------
# Nightwatch
# ----------------------------------------

reports/
screenshots/
selenium-debug.log
bin/chromedriver
bin/chromedriver.exe
../password.js
nightwatch.conf.js
